<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="robots" content="index, follow" />

        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="page-wrap">
            <header class="page-header">
                <div class="page-cover">
                <h1 class="animated fadeIn">{{ page.title }}</h1>
                <a href="/">{{ site.name }}</a>
                </div>
            </header>
            <div class="page-content">

                <section class="content">
                    {{ content }}
                </section>

            </div>
        </div>
        <footer class="page-footer">
            <a href="/contact">Kontakt</a>
            -
            <a href="/archive">Archiv</a>
            -
            <a href="/imprint">Impressum</a>
        </footer>

        <script type="text/javascript" src="/javascript/jquery-2.1.1.min.js"></script>

        <script type="text/javascript">
            var appInsights=window.appInsights||function(config){
                function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
            }({
                instrumentationKey:"0231ee4d-b6bc-44ca-8617-9953ddbd0001"
            });
            
            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>

    </body>
</html>