<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="robots" content="index, follow" />

        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body class="<?php echo $page->uid() ?>-page">
        <div class="page-wrap">
            <header class="page-header">
                <div class="page-cover">
                <h1 class="animated fadeIn">{{ page.title }}</h1>
                </div>
            </header>
            <div class="page-content">

                <section class="content">
                  <article>
                    {{ content }}
                  </article>
                </section>

            </div>
        </div>
        <footer class="page-footer">
            <a href="/contact">Kontakt</a>
            -
            <a href="/archive">Archiv</a>
            -
            <a href="/imprint">Impressum</a>
        </footer>

        <script type="text/javascript" src="/javascript/jquery-2.1.1.min.js"></script>

    </body>
</html>